  <div id="tab-preparedness" class="tab-content preparedness-workspace{% if active_tab == 'preparedness' %} active{% endif %}">
  {% include "index_partials/preparedness/_overview.html" %}
  {% include "index_partials/preparedness/_inventory.html" %}
  {% include "index_partials/preparedness/_contacts.html" %}
  {% include "index_partials/preparedness/_calculators.html" %}
  {% include "index_partials/preparedness/_radio.html" %}
  {% include "index_partials/preparedness/_security.html" %}
  {% include "index_partials/preparedness/_power.html" %}
  {% include "index_partials/preparedness/_garden.html" %}
  {% include "index_partials/preparedness/_medical.html" %}
  {% include "index_partials/preparedness/_guides.html" %}
  {% include "index_partials/preparedness/_vault.html" %}
  {% include "index_partials/preparedness/_weather.html" %}
  {% include "index_partials/preparedness/_ops.html" %}
  {% include "index_partials/preparedness/_journal.html" %}
  {% include "index_partials/preparedness/_family.html" %}
  {% include "index_partials/preparedness/_skills.html" %}
  {% include "index_partials/preparedness/_ammo.html" %}
  {% include "index_partials/preparedness/_community.html" %}
  {% include "index_partials/preparedness/_radiation.html" %}
  {% include "index_partials/preparedness/_fuel.html" %}
  {% include "index_partials/preparedness/_equipment.html" %}
  {% include "index_partials/preparedness/_analytics.html" %}
  </div>
